body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-group-lg {
    margin: auto;
    width: 35%;
    padding: 20px;
}

.wrapper {
    text-align: center;
}

.chart {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 140px;
}

.alert {
    margin-top: 20px;
}

.App {
    margin: 30px auto 0;
    width: 650px;
    height: 500px;
    display: flex;
}